body {
/*     background-color: #afafaf */
    background-image: url("http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg");
    background-size: 100% 200%;
}
h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, .3) 5px 5px;
}
img {
    height: 170px;
    width: 170px;
    box-shadow: rgba(0, 0, 0, .3) 5px 5px;
}
#header {
    position: relative;
    top: -10px;
    background-color: #373737;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#navbar {
    position: fixed;
    bottom:10px;
    left:50%;
    margin-left:-350px;
}
#navbar a {
    color: #ffffff;
}
ul {
    list-style-type: none;
    position: fixed;
    margin: -10px;
}
li {
    display: inline;
    border-style: groove;
    border: px;
    font-family: Futura, Tahoma, sans-serif;
    color: #656565;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: #656565
}
#about {
    width: 45%;
}
.wrapper > * {
    display: inline-block;
}
pre {
    font-family: sans-serif;
    font-size: 1em;
}